<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuiltByGirls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF284D0E1EC10C670026D0B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF284D221EC10C680026D0B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF284D2D1EC10C680026D0B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
